@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Jelszó kezelő alkalmazás. </h2>
   @if (!string.IsNullOrEmpty(Context.Session.GetString("Username")))
       {
           <h3>Üdvözöllek: @Context.Session.GetString("Username") </h3>
       }
</div>
