@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>A jelszó kezelő alkalmazás. </p>
   @if (!string.IsNullOrEmpty(Context.Session.GetString("Username")))
       {
           <p>Üdvözöllek: @Context.Session.GetString("Username") </p>
       }
</div>
