@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Register</h2>
<form method="post" action="">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName"><br>
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName"><br>
    <input type="submit" value="Register">
</form>